.xcalend{
	position:absolute;
	z-index:1004;
	width:200px;
	padding: 4px 4px 4px 4px;
    margin: 0px 0px 0px 0px;
	border-radius: 8px;
	background:#fff;
	border:1px solid #ddd
}
.xcalend td{cursor:pointer;padding:6px}
.xcalend thead td{color:#fab400}
.xcalend thead td.cal-m{padding: 6px 0px 0px 0px;}
.xcalend thead td.cal-y{text-align: right;}
.xcalend thead tr:last-child td{background:#fff;color:#cccccc;cursor:default}
.xcalend tbody td{color:#777777; border-radius:3px;}
.xcalend tfoot td{color:#569AD4}
.xcalend tfoot td:last-child{color:#ca3434}
.xcalend tbody td.tday{background:#eee;font-weight:bold}
.xcalend tbody td:hover, .xcalend td:hover{background:#FFCE4F;color:#000;}
.xcalend tbody td:nth-child(n+6){color:#5fa7e4}
.xcalend .cal-first td:nth-last-child(-n+2){color:#5fa7e4}
.xcalend tbody td.today{background:#fab400;color:#000!important;font-weight:bold}
.xcalend tbody td.bold{font-weight:bold}
.xcalend tbody td.cal-l b, .xcalend tbody td.cal-r b{color:#ffc6a0; font-weight: 400;}
.xcalend tbody td.cal-l:hover b, .xcalend tbody td.cal-r:hover b{color:#fff;}
.xcalend a{text-decoration:none}
.xcalend th a{color:#ccc;display:block;padding:5px 0}
.xcalend tr th{display:none;}